.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center{
    width: 50vh;
    height: 100px;
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
}

#startGame{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

#startGame:hover {
    background-color: rgb(175, 174, 174);
    color: rgb(34, 34, 34);
}

.scores{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30vw;
    margin-top: 50px;
}

#pScore, #cScore {
    color: red;
    display: flex;
    justify-content: center;
    font-size: 2em;
}